:root {
  --main-color: rgb(127, 247, 8);
  --BG-Color: #fff;
  --Text-Color: rgb(136, 132, 132);
  --font-family-link: "Lato", sans-serif;
  --font-family-text: "Poppins", sans-serif;
  --font-family-logo: "Roboto", sans-serif;
}

/* ------------------Global Classes------------------- */
html::-webkit-scrollbar {
  background: #111;
  width: 0.6rem;
}
html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}
html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 99%;
  height: auto;
  background: var(--BG-Color);
  color: var(--Text-Color);
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
}

ul li {
  list-style-type: none;
}
p {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  color: var(--Text-Color);
  padding: 0.6rem;
  margin: 0.7rem;
  transition: 1.3s;
}

.btn:hover {
  letter-spacing: 4px;
  transition: 0.2s transform cubic-bezier(0.3, 0.73, 0.3, 0.7);
}

span {
  color: rgb(127, 247, 8);
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
}
img {
  cursor: pointer;
  transition: 0.5s;
}
img:hover {
  transform: scale(1.01);
  zoom: 40px;
}

h2 {
  color: #111;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 400;
}
/* ----------x--------Global Classes--------x----------- */
.header {
  width: 100%;
  height: 65px;
  position: relative;
}
.header #myHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 3px 5px rgb(127, 247, 8);
}

.header #myHeader h1 a {
  font-size: 3rem;
  /* padding: 1rem; */
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: #111;
  letter-spacing: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header #myHeader .navlinks .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 0.3rem;
}

.header #myHeader .navlinks .nav li a {
  color: #111;
  text-transform: capitalize;
  font-size: 1.1rem;
  padding: 0.6rem 1rem;
  z-index: 2;
  transition: 0.5s;
  /* position: relative; */
}

.header #myHeader .navlinks .nav li a:hover {
  background: var(--main-color);
}
.header #myHeader .navlinks .nav li a:focus {
  background: var(--main-color);
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  box-shadow: 5px 3px 5px rgb(127, 247, 8);
  background: var(--BG-Color);
  z-index: 10;
}

.header .fas {
  display: none;
}

/* -------------------------main---------------------- */

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  height: 90vh;
  background: url("./images/food\ bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0.7rem auto;
}

.center h1 {
  font-size: 5rem;
  color: #111;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #fff;
  margin: 1rem;
}
.center p {
  font-size: 1.3rem;
  text-align: center;
  width: 60%;
  color: #fff;
  margin-bottom: 1rem;
}

.center .btn,
.btn {
  width: 18%;
  background: var(--main-color);
  color: #111;
  padding: 0.8rem 1rem;
  text-align: center;
  /* border: 2px solid #111; */
  border-radius: 0.3rem;
  transition: 01s;
  font-size: 1.3rem;
  text-transform: capitalize;
}
.center .btn:hover {
  width: 20%;
}

/* --------------------------about------------------ */
.about {
  padding: 30px;
  margin-top: 2rem;
}

.about .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: space-between;
}

.about .row .about-content {
  position: relative;
  width: 48%;
}
.about .row .about-content h2 {
  color: #111;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 400;
}

.about .row .about-content p {
  text-align: justify;
}
.about .row .about-content .imgbox {
  width: 100%;
  position: relative;
  min-height: 300px;
}
.about .row .about-content .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ------------x--------------about--------x---------- */
